# Ambiente virtual
.venv/
venv/
env/

# Cache e bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente e segredos
.env

# Configurações de IDEs e editores
.idea/
.vscode/

# Logs e arquivos temporários
*.log

# Build e distribuição
build/
dist/
*.egg-info/